<a href="{{ "/archive" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Archive</h2></a>
<a href="{{ "/about" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">About</h2></a>
<a href="https://linktr.ee/loki_senpai"><h2 class="header-link">Links</h2></a>
<a href="https://imlokisenpai.github.io/gallery"><h2 class="header-link">Gallery</h2></a>
<a href="{{ "/codex" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">CodeX</h2></a>
